<div class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand"> Blog-Node </a>

  <ul class="navbar-nav mr-auto">
    <li class="navbar-item"><a href="/admin/categories/" class="nav-link">Categorias</a></li>
  </ul>
</div>
